.Login {
  &__container {
    overflow: hidden;
    background-image: url(../../utilities/images/cartLogin2.jpg);
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fcfafb;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__container-h1 {
    h1 {
      text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
    }
  }
  &__container-signin {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    h2 {
      background-color: var(--fourth);
      width: 180px;
      border-radius: 50%;
      height: 180px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.5;
      color: var(--letter);
      box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.8);
      -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.8);
      -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.8);
    }
    i {
      margin-left: 5px;
    }
  }
  &__container-login {
    width: 500px;
    text-align: center;
  }
  &__errorsEmail {
    color: var(--errors);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  }
  &__container-h1 {
    color: var(--fourth);
  }
  &__btn {
    padding: 2%;
    width: 500px;
    margin-top: 5%;
  }
  &__error-check {
    color: var(--errors);
    background: rgba(82, 82, 82, 0.25);
    box-shadow: 0 4px 16px 0 rgba(255, 0, 0, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-top: 4%;
  }
  &__doYouHaveAnAccount {
    cursor: pointer;
    transition: 0.2s;
  }
  &__doYouHaveAnAccount:hover {
    color: var(--primary);
  }
}

@media (max-width: 600px) {
  .Login {
    &__container {
      flex-direction: column;
    }
    &__container-login {
      width: 80%;
    }
    &__btn {
      width: 100%;
    }
    &__container-login {
      margin-bottom: 20%;
    }
  }
}
