.Cart {
  &__row {
    font-weight: 500;
    color: white;
    background-color: var(--primary);
    padding-left: 80px;
  }
  &__header {
    margin: 30px;
    border-bottom: 1px solid var(--fourth);
  }
  &__row2 {
    padding-left: 20px;
    padding-right: 20px;
  }
  &__compra {
    background-color: var(--fourth);
    text-align: center;
  }
  &__total--header {
    background-color: var(--secondary);
    font-weight: 500;
    color: white;
  }
  &__total {
    border-bottom: 1px solid rgb(218, 218, 218);
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 500;
    margin-left: 5px;
    margin-right: 10px;
  }
  &__continuarCompra a {
    text-decoration: none;
    margin-left: 50px;
    margin-top: 5px;
    color: var(--secondary);
  }
  &__containerAll {
    min-height: 80vh;
  }
}
