.ShoppingCart {
  &__container {
    display: flex;
    justify-content: space-between;
    &--products {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      justify-items: center;
      gap: 10px;
    }
    &--radios {
      width: 200px;
    }
    &--filtros {
      display: flex;
      justify-content: space-between;
    }
  }

  &__radios {
    margin-bottom: 20px;
  }
  &__search {
    border-radius: 20px;
    margin-top: 20px;
    width: 374px;
  }
  &__titleProductos {
    border-bottom: 1px solid var(--fourth);
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  &__titleCategorias {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--fourth);
  }
  &__titleSearch {
    display: flex;
    align-items: center;
    color: var(--secondary);
  }
  &__h3yPagination {
    display: flex;
    justify-content: space-between;
  }

  &__sortable {
    display: flex;
    align-items: center;
  }
}

// @media only screen and (max-width: 1000px) {
//   .ShoppingCart {
//     &__titleSearch {
//       flex-direction: column;
//     }
//   }
// }

@media only screen and (max-width: 720px) {
  .ShoppingCart {
    &__container {
      &--radios {
        display: none;
      }
      &--filtros {
        display: block;
      }
    }
    &__sortable {
      justify-content: flex-end;
      margin-bottom: 10px;
    }
  }
}
