.NavbarComp {
  &__links a {
    display: block;
    height: 100%;
    margin-right: 10px;
    position: relative;
  }
  &__links a:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    display: block;
    transition: all 0.3s ease;
    bottom: 8%;
  }
  &__links a:hover::after {
    width: 100%;
    height: 2px;
    background-color: var(--primary);
  }
  &__icon {
    -webkit-transform: translate(-4px, -2px);
    -moz-transform: translate(-4px, -2px);
    transform: translate(-4px, -2px);
  }
  &__cart {
    &--container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--dropdown {
      width: 300px;
    }
    &--length {
      border-radius: 50%;
      background-color: var(--primary);
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      -webkit-transform: translate(-28px, -20px);
      -moz-transform: translate(-28px, -20px);
      transform: translate(-28px, -20px);
    }
    &--register {
      -webkit-transform: translate(0px, 4px);
      -moz-transform: translate(0px, 4px);
      transform: translate(0px, 4px);
    }
    &--icon {
      text-align: center;
      font-size: 16px;
      svg {
        font-size: 1.8em;
      }
    }
    &--iconFav {
      -webkit-transform: translate(0px, 12px);
      -moz-transform: translate(0px, 12px);
      transform: translate(0px, 12px);

      svg {
        font-size: 1.6em;
      }
    }
  }
  &__endNavBottom {
    display: flex;
    flex-direction: row;
  }

  &__btnClose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    svg {
      font-size: 1.6em;
    }
  }
}

// @media only screen and (max-width: 720px) {
//   .NavbarComp {
//     &__endNavBottom {
//       display: flex;
//       flex-direction: row;
//     }
//   }
// }
