.ProductItem {
  &__container {
    &--count {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 10px;
      border-top: 1px solid var(--fourth);
    }
  }
  &__count {
    font-size: 1.6em;
    background-color: var(--fourth);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    &--number {
      margin-left: 10px;
      margin-right: 10px;
      -webkit-transform: translate(0px, 8px);
      -moz-transform: translate(0px, 8px);
      transform: translate(0px, 8px);
      color: var(--letterGray);
    }
  }
  &__count:active {
    color: var(--primary);
  }
  &__info {
    text-align: center;
  }
  &__precio {
    font-weight: bold;
    color: var(--primary);
  }
  &__button {
    &--add {
      width: 100%;
    }
  }
}
