.ProductItem {
  &__container {
    &--count {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 10px;
      border-top: 1px solid var(--fourth);
    }
  }
  &__count {
    font-size: 1.6em;
    background-color: var(--fourth);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    &--number {
      margin-left: 10px;
      margin-right: 10px;
      -webkit-transform: translate(0px, 8px);
      -moz-transform: translate(0px, 8px);
      transform: translate(0px, 8px);
      color: var(--letterGray);
    }
  }
  &__count:active {
    color: var(--primary);
  }
  &__nombre {
    text-align: center;
    height: 50px;
  }
  &__nombre:first-letter {
    text-transform: uppercase;
  }
  &__info {
    text-align: center;
  }
  &__precio {
    font-weight: bold;
    color: var(--primary);
    margin: 0;
    padding: 0;
  }
  &__button {
    &--add {
      width: 100%;
    }
  }
  &__fav {
    -webkit-transform: translate(185px, -265px);
    -moz-transform: translate(185px, -265px);
    transform: translate(185px, -290px);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 16px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 50%;
    cursor: pointer;
    svg {
      font-size: 1.4em;
    }
  }
  &__fav:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 3em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 5px 20px var(--fourth);
  }
  &__fav:active:after {
    box-shadow: 0 0 0 0 var(--primary);
    position: absolute;
    border-radius: 3em;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0s;
  }

  &__fav:active {
    top: 1px;
  }
  &__favActive {
    color: var(--primary);
  }
}
